.dashboard-content {
  top:50px;
  display: flex;
  flex-wrap: wrap;

  .content-title {
    text-align: center;
    font-size: 24px;
    width: 100%;
  }

  .dashboard-container {
    display: flex;

    .offer-details {
      border: 1px solid #dbe0e4;
      text-align: center;
      padding: 15px 10px 15px 10px;;
    }
  }

  .no-items {
    text-align: center;
    width: 100%;
    padding: 230px;
  }

  .item {
    border: 1px solid #dbe0e4;
    width: 22.22222%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
    padding: 17px;
    margin-bottom: 17px;
    min-width: 150px;

    h1{
      padding-top: 10px;
    }

    .close {
      top: 0;
      right: 0;
      position: absolute;
      display: none;
    }

    .details {
      display: none;
      position: absolute;
      top: 38%;
      left: 48%;
    }

    &:hover {
      transform: scale(1.05,1.05);
      background: rgba(204,209,213,.25);

      .close, .details {
        display: block;
      }
    }
  }
}
