.content-title {
  text-align: center;
  font-size: 24px;
  width: 100%;
  padding-top: 15px;
}

.dashboard-content {
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: flex-start;
  display: flex;

  .dashboard-container {
    display: flex;
    padding: 13px 42px 42px;
  }

  .no-items {
    text-align: center;
    width: 100%;
    padding: 230px;
  }

  .recommended-items {
    display: flex;
    flex-wrap: wrap;

    &-item {
      margin-left: 10px;
      max-height: 300px;
      border: 1px solid #dbe0e4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 35px;

      &-identity {
        font-size: 20px;
      }

      &-score {
        margin-top: 10px;
        font-size: 36px;
      }
    }
  }

  &-items {
    display: flex;
    flex-wrap: wrap;

    &-item {
      border: 1px solid #dbe0e4;
      width: 22.22222%;
      float: left;
      margin-left: 1.38889%;
      margin-right: 1.38889%;
      padding: 17px;
      margin-bottom: 17px;
      min-height: 250px;
      text-align: center;

      h1{
        padding-top: 10px;
      }

      .close {
        top: 0;
        right: 0;
        position: absolute;
        display: none;
      }

      .details {
        display: none;
        position: absolute;
        top: 38%;
        left: 48%;
      }

      &:hover {
        transform: scale(1.05,1.05);
        background: rgba(204,209,213,.25);

        .close, .details {
          display: block;
        }
      }
    }
  }
}
