.dashboard-bar {
  background: $background-tint;
  min-height: 100px;
  border-top: 1px solid $color-accent-tint;
  display: flex;

  .title {
    color: #2d3237;
    font-weight: 700;
    margin: auto;
    font-size: 24px;
  }

  .btn-left {
    cursor: pointer;
    display:flex;
    border-radius: 0;
    display: flex;
    flex: 0.1;
    text-align: center;
    padding: 0 25px 0 25px;

    span {
      a {
        color: black;
        font-size: $type-h6;
        text-transform: uppercase;
      }

      margin: auto;
      align-self: center;
    }
  }

  .btn-green {
    cursor: pointer;
    background-color: #28bd00;
    border-radius: 0;
    display: flex;
    flex: 0.1;
    text-align: center;
    padding: 0 25px 0 25px;

    span {
      a {
        color: #fff;
        font-size: $type-h6;
        text-transform: uppercase;
      }

      margin: auto;
      align-self: center;
    }

    &:hover {
      background-color: rgba(40, 189, 0, .7);
    }

  }
}


