input,
select,
textarea {
  appearance: none; //remove default dropdown icon
  outline: none;
}

.input,
.textarea
.select {
  background: white;
  border: 1px solid $background-shade;
  border-radius: 5px;
  color: $color-shade;
  font-family: $font-primary;
  font-size: $type-base;
  margin: 0 0 $spacing-medium;
  outline: none;
  padding: $spacing-small $spacing-small;
  transition: border-color .15s $bezier;
  width: 100%;
  @include input-placeholder {
    color: rgba($color-accent, .6);
  }
  &:focus {
    border-color: $color-secondary;
  }
}

.error-message {
  padding: 10px;
  font-size: $type-base;
  font-weight: $font-weight-regular;
  text-align: left;
  color: $color-dark;
  word-wrap: break-word;
  margin: -12px 0 17px 0;
  background: $background-dark;
  border-radius: $border-radius;

  &:after {
    border: solid transparent;
    border-bottom-color: $background-dark;
    border-width: 5px;
    content: '';
    position: absolute;
    top: -10px;
    left: 20px;
  }
}
