.stepWizard {
  height: 100%;

  .title {
    text-align: center;
    font-size: $type-h3;
    top:20px;
  }

  .progressBar {
    text-align: center;
    top: 50px;

    .item {
      font-size: $type-h3;
      padding-left: 5px;
      padding-right: 5px;
    }

    .active {
      font-size: $type-h1;
    }
  }

  .nav {
    z-index: $level-99;
    position: absolute;
    cursor: pointer;
    top:50%;

    &_right {
      right:0;
      background: $background-tint;
    }

    &_left {
      left:0;
      background: $background-tint;
    }
  }

  .step {
    animation: fadeIn 1s forwards;
    padding-top: 20vh;
    padding-bottom: 20vh;
    display: flex;
    justify-content: center;
    align-items:center;

    .form {
      width: 480px;
      align-items: center;
      margin-left: 2vw;
      margin-right: 2vw;

      .added-items {
        max-height: 150px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        font-size: $type-h3;
        margin-top: 15px;

        .added-item {
          word-wrap: break-word;
          margin-top: 5px;
          border: 1px solid #dbe0e4;
          text-align: left;
          padding: 10px;
        }
      }

      .btn-primary,label {
        cursor: pointer;
      }

      .btn {
        margin-top: 20px;
      }

      .level-scale {
        padding-left: 10px;
        height: 250px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: $type-h5;
        padding-bottom: 15px;

        p{
          font-size: $type-h4;
          font-weight: $font-weight-semibold;
        }

        input {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;

          border-radius: 50%;
          width: 16px;
          height: 16px;

          border: 2px solid #999;
          transition: 0.2s all linear;
          outline: none;
          margin-right: 5px;

          position: relative;
        }

        input:checked {
          border: 6px solid #337ab7;
        }
      }
    }
  }
}
